.layout {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding-top: 8%;
}

.layout-aside {
  width: 35%;
  margin-right: 2%;
}

.layout-main {
  width: 80%;
}

.aside-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6%;
}

.aside-info-ml {
  margin-left: 60px;
}

.panel {
  padding: 16px;
}

/* .card {
  display: inline-block;
  justify-content: center;
  margin: 0 4% 4% 0;
}

.card-onClick {
  background-color: #90949c;
  margin: 0 4% 4% 0;
} */
.ergebniss-container {
  display: flex;
  flex-grow: 0 1 auto;
}

/* .ergebniss-card {
  width: 50%;
  margin: 0 1% 1% 0;
} */

.ergebniss-card-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

.ergebniss-info-ml {
  margin-left: 3%;
}

.text-bold {
  font-weight: bold;
}

.d-flex {
  display: flex;
}
